html(ng-app='myApp')
  head
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
    title BIC CW2
    // inject:css
    // endinject
  body(ng-controller='myCtrl')
    button(ng-click="print()") Click Me!!
    // inject:js
    // endinject
