html(ng-app='myApp')
  head
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
    title BIC CW2
    // inject:css
    // endinject
  body(ng-controller='myCtrl')
    .buttons
      button(ng-click="test(10)") RUN!!
    br











    // inject:js
    // endinject
