html(ng-app='myApp')
  head
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
    title BIC CW2
    // inject:css
    // endinject
  body(ng-controller='myCtrl')
    button(ng-click="print()") Click Me!!
    p Values:
      li(ng-repeat='i in values') {{i}}
    p Weights:
      li(ng-repeat='j in weights') {{j}}
    p SUM: {{sum}}
    // inject:js
    // endinject
