html(ng-app='myApp')
  head
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
    title BIC CW2
    // inject:css
    // endinject
  body(ng-controller='myCtrl')
    .buttons

      button(ng-click="test2()") TEST2
      button(ng-click="test1()") TEST1
      button(ng-click="test(1,0)") RUN!!
    br
    h 1
    {{testMLP}}
    br
    h 2
    {{disp2}}











    // inject:js
    // endinject
